<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
  <script>
    document.write('<link rel="stylesheet" href="template.css?'+Math.random()+'"/>');
  </script>
  <link rel="stylesheet" href="../slider/slider.css"/>
</head>
<body>
  <section class="color-picker cp-embedded cp-theme-dark">
    <header>
      <section class="cp-color-scheme">
        <div class="cp-color-scheme-block">
          <label>
            H: <input type="text" class="color-component input" maxlength="3"/>&deg;
          </label>
        </div>
        <div class="cp-color-scheme-block">
          <label>
            S: <input type="text" class="color-component input" maxlength="3"/>%
          </label>
        </div>
        <div class="cp-color-scheme-block">
          <label>
            B: <input type="text" class="color-component input" maxlength="3"/>%
          </label>
        </div>
        <div class="cp-color-scheme-block">
          <select class="color-scheme-selector">
            <option value="1">HSB</option>
            <option value="2">RGB</option>
          </select>
        </div>
        <div class="cp-color-scheme-block">
          <label>
            # <input type="text" class="color-component input hex" maxlength="6"/>
          </label>
        </div>
      </section>
    </header>
    <section class="cp-color-selector">
      <div class="cp-color-wheel"></div>
      <div class="cp-slider-right cp-slider"></div>
      <div class="cp-slider-bottom cp-slider"></div>
    </section>
    <footer>
      <section class="cp-recent-colors">
        <div class="cp-color-square">

        </div>
      </section>
    </footer>
  </section>

  <script src="../slider/slider.js"></script>
  <script>
    new Slider('.cp-slider-right', {
      direction: 'vertical',
      caption: 'Brightness: {$n}',
      max: 255
    });
    new Slider('.cp-slider-bottom', {
      direction: 'horizontal',
      caption: 'Opacity: {$n}',
      max: 255
    });
  </script>
</body>
</html>
