<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
  <link rel="stylesheet" href="slider.css"/>
  <script>document.write('<script src="slider.js?'+Math.random()+'"><\/script>')</script>
  <style>
    body {
      background: #3C3F41;
      margin: 0 auto;
      width: 600px;
      text-align: center;
      padding-top: 100px;
    }
  </style>
</head>
<body>
<div id="slider-horizontal"></div>
<div id="slider-vertical"></div>
<script>
  window.addEventListener('load', function() {
    var hSlider = new Slider('#slider-horizontal', {
      direction: 'horizontal',
      value: 105,
      caption: 'Opacity: {$n}',
      min: 0,
      max: 255,
      thumbDirection: 'top'
    });
    hSlider.on('change', function (val) {
      console.log(this.hideTip());
    });

    var vSlider = new Slider('#slider-vertical', 'vertical', 'Brightness: {$n}');
    vSlider.setValue(88);
//    document.querySelector('.slider').style.marginLeft = '500px';
  });
</script>
</body>
</html>
